{erl_opts, [{parse_transform, lager_transform}]}.
{cover_enabled,true}.
{deps,[
	{lager,".*",{git,"git://github.com/basho/lager.git"}},
	{cowboy,".*",{git,"git://github.com/extend/cowboy.git"}},
	{jsx,".*",{git,"git://github.com/talentdeficit/jsx.git"}},
	{emysql,".*",{git,"git://github.com/Eonblast/Emysql.git"}}
]}.

{sub_dirs,[
	"apps/game_server","apps/dealer_server","apps/player_server",
	"apps/lobby_server","apps/auth_server"
]}.
{lib_dirs,["deps"]}.
{eunit_exclude_deps,true}.
{require_opt_vsn,"17"}.

