{erl_opts, [{parse_transform, lager_transform}]}.
{cover_enabled,true}.
{deps,[
	{lager,".*",{git,"git://github.com/basho/lager.git"}},
	{cowboy,".*",{git,"git://github.com/extend/cowboy.git"}},
	{jsx,".*",{git,"git://github.com/talentdeficit/jsx.git"}},
	{emysql,".*",{git,"git://github.com/Eonblast/Emysql.git"}}
]}.