{erl_opts, [{parse_transform, lager_transform}]}.
{cover_enabled,true}.
{deps,[
	{jsx,".*",{git,"git://github.com/talentdeficit/jsx.git"}},
	{lager,".*",{git,"git://github.com/basho/lager.git"}},
	{emysql,".*",{git,"git://github.com/Eonblast/Emysql.git"}}
]}.
{eunit_exclude_deps,true}.
{require_opt_vsn,"17"}.

